<!-- Header -->
<%- include("partials/header.ejs") %>
<!--  -->

  
<main class="px-3">
  <h1>Welcome to my blog!</h1>
  <p class="lead">View my blog posts, create your own, or edit old posts.</p>
  <p class="lead">
    <a href="/new-post" class="btn btn-lg btn-light fw-bold border-white bg-white">Create a new post</a>
  </p>
</main>
<!-- Footer -->
<%- include("partials/footer.ejs") %>
<!--  -->
