<%- include("partials/header.ejs") %>
<main class="px-3">
  <h2>Successfully submitted!</h2>
  <a href="/" class="btn btn-lg btn-info fw-bold border-blue my-5"> Return to homepage </a>
</main>
<%- include("partials/footer.ejs") %>
